<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>计算属性</title>

<!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复-->
<!--  提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。	-->
<script src="../js/vue.js"></script>
<script src="../js/lodash.min1.8.3.js"></script>
<script src="../js/axios-0.21.0.js"></script>

</head>

<body>

<div id="app">
	<btn-counter></btn-counter>
	<btn-counter></btn-counter>
	<btn-counter></btn-counter>
	<btn-counter></btn-counter>
	<btn-counter></btn-counter>
	<btn-counter></btn-counter>
</div>

<script>

Vue.component('btn-counter',{
	data:function(){
		return{
			counter:0
		}
	},
	template:'<button @click="counter++">你已经点击了{{counter}}次</button>'
});

var app = new Vue({el:"#app"});

</script>


</body>
</html>