<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>计算属性</title>

<script src="../js/vue.js"></script>

</head>

<body>

<div id="app">
	<blog-post title='java' content='java is a pragram languange!'></blog-post>
</div>

<script>
Vue.component('blog-post',{
	props : ['title','content'],
	//template : '<p><div>{{title}}</div><div>{{content}}</div></p>'// 使用p做根节点，会出现错误，使用div就没有问题
	template : '<div><p>{{title}}</p><p>{{content}}</p></div>'
});

var vm  = new Vue({ el : "#app"});

</script>

</body>
</html>