<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>计算属性</title>

<script src="../js/vue.js"></script>

</head>

<body>

<div id="app">
	<blog-post title='java' content='java is a pragram languange!'></blog-post>
	<blog-post title='c++' content='C++ is a pragram languange!'></blog-post>
	<blog-post title='python' content='python is a pragram languange!'></blog-post>
	<blog-post title='perl' content='Perl is a pragram languange!'></blog-post>
</div>

<script>
Vue.component('blog-post',{
	props : ['title','content'],
	template : '<div><p>{{title}}</p><p>{{content}}</p></div>'
});

var vm  = new Vue({ el : "#app"});

</script>

</body>
</html>