<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>计算属性</title>
<script src="../js/vue.js"></script>

</head>

<body>
<!--publishedAt,这个时候，使用publishAt就没有问题，
也就是属性的名称，不区分大小写-->

<div id="app">
	<header-data title="header-data-test-1"></header-data>
	<detail-list v-for="p in postList" :post="p" :key="p.id"></detail-list>
</div>

<script>
Vue.component('header-data',{
	data:function(){
		return{
				name:'zhangsan',
				email:'zhangsan@bjrcb.com'
			}
	},
	props:['title'],
	template:'<div><h3 v-html="title"></h3><table><tr><th>name</th><th>email</th></tr><tr><td>{{name}}</td><td>{{email}}</td></tr></table></div>'
});

Vue.component('detail-list',{
		props:['post'],
		template:'<div><span v-html="post.title"></span><span v-html="post.content"></span><span v-html="post.publishedAt"></span><span v-html="post.comments"></span></div>'
	
});

var app = new Vue({
	el:'#app',
	data:{
		postList:[
					{title:'<h2>hello, java</h2>',content:'<p>java is a pragram languange!</p>',publishedAt:'2020-12-29',comments:'java123'},
					{title:'<h2>hello, c</h2>',content:'<p>c is a pragram languange!</p>',publishedAt:'2020-12-29',comments:'C 123'},
					{title:'<h2>hello, python</h2>',content:'<p>python is a pragram languange!</p>',publishedAt:'2020-12-29',comments:'python 123'},
					{title:'<h2>hello, sql</h2>',content:'<p>sql is a pragram languange!</p>',publishedAt:'2020-12-29',comments:' sql 123'},
					{title:'<h2>hello, php</h2>',content:'<p>php is a pragram languange!</p>',publishedAt:'2020-12-29',comments:' php 123'},
					{title:'学习vue',content:'<p>vue是一种前端框架</p>',publishedAt:'2020-12-29',comments:'vue'},
					{title:'学习javascript',content:'<p>js是一种脚本语言</p>',publishedAt:'2020-12-29',comments:'javascript'}
			  	]
	}
});
</script>


</body>
</html>