<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>props性</title>
<script src="../js/vue.js"></script>

</head>

<body>
<div id="app">
	<title-test :initial-counter="initialCounter"></title-test>
	
	<br>
	<div>
		<h2>父组件的值为:{{initialCounter}},<button @click="superChangeCounter">点击</button></h2>
	</div>
</div>
<script>
Vue.component("title-test",{
	props: ['initialCounter'],
	data:function(){
		return {
			 counter: this.initialCounter
		}
	},
	template:`
		<div>
			<h2>你点击了{{counter}}次,<button @click="upCounter">点击</button></h2>
			<h2>初始值为:{{initialCounter}},<button @click="upCounter2">点击</button></h2>
		</div>
	`,
	methods:{
		upCounter:function(){
			this.counter++;
		},
		upCounter2:function(){
			this.initialCounter++;
		}
	}
});

var app = new Vue({
	el:"#app",
	data:{
		initialCounter:10
	},
	methods:{
		superChangeCounter:function(){
			this.initialCounter++;
		}	
	}
});
</script>
</body>
</html>
